<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>



<body>


Basic socket.io chat app
<div id="app">
    <ul>
        <li v-for="(message,index) in listOfMessages" :key="'message' + index"> {{message}} </li>
    </ul>

    <input type="text" v-model="input">
    <button @click="sendPrivateMessage">send to me</button>
    <button @click="sendGlobalMessage">send to everyone</button>
    <button @click="sendBroadcastMessage">send to everyone but me</button>
    
    
</div>




<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const socket = io();
    const vueApp = Vue.createApp({
        data() {
            return {
            listOfMessages : [],
                input:"",


            }
        },
        methods: {
            sendPrivateMessage() {
                socket.emit("private message", this.input)
            },
            sendGlobalMessage() {
                socket.emit("global message", this.input)
            },
            sendBroadcastMessage() {
                socket.emit("broadcast message", this.input)
            },
        }
    }).mount("#app")



    socket.on("message", (message) => {
        vueApp.listOfMessages.push(message)
    })
</script>
</body>
</html>